.btn{
/*	background-color: teal;*/
/*	background-color:darkseagreen;*/
	border-radius: 30px;
	border: 0;
/*	box-shadow: 0.2px 3px 6px black;*/
}
.btn:hover{
	transform: scale(0.99);
/*	box-shadow: 0.2px 2px 4px black;*/
}
.btn:active{
	transform: scale(0.95);
/*	box-shadow: 0px 1px 0px red;*/
}