.main_container{
    margin:0 auto;
    width: 50%;
    margin-top: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .btn-file {
      position: relative;
      overflow: hidden;
      border-color: #0059b3;
      border-style: dashed;
      border-width: 2px;
      height: 150px;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: center;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
  .drag_drop_heading{
    margin-top: 50px;
  }
  .remote_file{
    width: 300px;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;

  }
  ::placeholder{
    font-size: 12px;
  }
  .or { 
    width:50%;
    text-align:center; 
    border-bottom: 1px solid #000; 
    line-height:0.1em; 
    margin:10px 0 20px; 
  } 
  .or span {
    background:#fff; 
    padding:0 10px; 
  }
  .input_box{
    width: 350px;
  }
   .carousel-indicators{
   top: 200px;
    justify-content:space-around;
    margin:0;
    display: flex;
    height: 20px;
}
.tables{
  margin-top: 300px;
  text-align: center;

}
.graph{
  margin-top: 300px;
}
#canvas_container{
  width: 50%;
  margin: 0 auto;
}
ol.carousel-indicators li.active {
  background: #004080;
}
ol.carousel-indicators li{
  width: 100px;
  height: 6px;
  cursor: pointer;
  background: #cccccc;
}
.carousel_headings{
    justify-content:space-around;
    margin:0;
    display: flex;
    height: 20px;
}
.toggle-handle{
  background: #f2f2f2;
  width: 100px;
}
.toggle-on{
  text-align: left;
  margin-left: 15px;
}
.toggle-off{
  text-align: right;
  margin-right: 15px;
}
.hidden {
     display:none;
}
